<div id="pants-container">
  <h1>Is Rich Kilmer wearing white pants?</h1>
  <% if @p %>
    <%= render :partial => 'answer_yes' %>
    <%= render :partial => 'kilmerfoo_yes' %>
  <% else %>
    <%= render :partial => 'answer_no' %>
    <%= render :partial => 'kilmerfoo_no' %>
  <% end %>
  <p class="credit">Photo courtesy of <%= link_to "Douglas Sonders", "http://www.sondersphotography.com/" %></p>
</div>